
<div class="container" >
  <!--<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Review Downloader
        </a>
      </div>
    </div>
  </nav>-->
  <router-outlet></router-outlet>
</div>

