/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
}

.img-container {
  background-image: url('assets/images/bg.jpg');
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;

}

.custom-header {
  text-align: center !important;
  border-bottom: 0px !important;
  padding: 30px !important;
  padding-bottom: 40px !important;
}

.custom-input {
  height: 70px !important;
  border-radius: 0px !important;
}

.custom-button {
  border-radius: 0px !important;
  width: 150px;
}

.custom-error {
  background-color: transparent !important;
  border: 0px !important;
  font-size: 20px;
}

