<div class="container-fluid ">
  <div class="row">
    <div class="page-header custom-header">
      <h1>Reviews are very Important feedbacks. </h1>
      <h1>Do you Want to get reviews on a business or place? <i class="em em-thinking_face"></i>	</h1>
      <h3>Enter the Url in the form below and your reviews will be downloaded to you.<i class="em em-hugging_face"></i></h3>
    </div>
  </div>
  <div class="row">
    <form action=""  [formGroup]="searchUrlForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="col-md-12">
        <div class="alert alert-danger custom-error col-md-8 col-md-offset-2" role="alert" *ngIf="errorMsg !== ''" >
          {{errorMsg}} <i class="em em-cry"></i>
        </div>
        <div class=" form-group  col-md-8 col-md-offset-2" [ngClass]="displayError('searchUrl')">
          <input type="text" class="form-control custom-input" placeholder="Enter URL eg https://www.yelp.com/biz/foot-locker-new-york-12"
                 name="searchUrl"  required formControlName="searchUrl">
          <div class="alert alert-danger custom-error" role="alert" *ngIf="isFieldValid('searchUrl')" >
            Please enter a valid Yelp or Google URl. <i class="em em-slightly_smiling_face"></i>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-md-offset-5">
          <button class="btn btn-lg btn-success custom-button" [disabled]="!searchUrlForm.valid">{{buttonText}}</button>
          <a href="{{downloadUrl}}"  class="btn btn-success btn-lg custom-button" *ngIf="downloadUrl && downloadUrl !== ''"
             (click)="onLinkClick()"><i class="glyphicon glyphicon-cloud-download"></i>{{text}}</a>
        </div>
      </div>
    </form>
  </div>
</div>
